<script type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=true&amp;key=AIzaSyCw_C65k-ltqG5lAO12hcnD118nSdkA9jw"></script>
<script>
function initialize() {
  var myLatLng = new google.maps.LatLng(-6.901548529330725, 107.53860929103465);
  var mapOptions = {
    zoom: 18,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.RoadMap
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  var triangleCoords = [
    new google.maps.LatLng(-6.900680105181562, 107.53819869868514),
    new google.maps.LatLng(-6.9010601042398765, 107.53968551900297),
    new google.maps.LatLng(-6.902591635670004, 107.53915930740594),
    new google.maps.LatLng(-6.902655652951699, 107.537808922384)
  ];
  myPolygon = new google.maps.Polygon({
    paths: triangleCoords,
    draggable: true,
    editable: true,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });

  myPolygon.setMap(map);
  google.maps.event.addListener(myPolygon.getPath(), "insert_at", getPolygonCoords);
  google.maps.event.addListener(myPolygon.getPath(), "set_at", getPolygonCoords);
  getPolygonCoords()
}
function getPolygonCoords() {
  var len = myPolygon.getPath().getLength();
}
function copyToClipboard(text) {
  window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
}
</script>
<body onload="initialize()">
    <h1 style="text-align: center;">MAP SMK 1 CIMAHI</h1>
    <div id="map-canvas" style="width:600px; height:600px;margin: 0 auto;"></div>
</body>